.statistics {
  display: grid;
  
  grid-auto-rows: minmax(10px, auto);

  grid-column-gap: 3px;
  grid-row-gap: 3px;
  overflow: auto;
}

.item {
  text-align: center;
  padding: 5px 5px 0px 5px;  
}

.stages-header {
  grid-row-start: 1; 
  grid-row-end: 3;

  background-color: #d9d9d9;
  padding-top: 34px;

  position: sticky;
  left: -1px;
}

.stages {
  font-weight: bold;
  grid-column-start: 1;
    
  background-color: #bfbfbf;
  padding-top: 13px;

  position: sticky;
  left: -1px;
}

.customer {
  grid-row-start: 1;  

  font-weight: bold;
  background-color: #bfbfbf;
  padding-top: 12px;
}

.parameter {
  grid-row-start: 2; 
  
  background-color: #d9d9d9;
}

.parameter-warning {
  background-color: #f7b580;
}

.parameter-attention {
  background-color: #fcce87;
}

.parameter-amount {
  background-color: #b4c2d7;
}

.parameter-warning,
.parameter-attention,
.parameter-amount {
  padding-top: 12px;
}