<html>
  <head>
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/statistics.css">
  </head>
  <body>
    <div id="app">
      <button id="show-modal" v-on:click="showModal = true">Show Modal</button>
      <!-- use the modal component, pass in the prop -->
      <modal v-if="showModal" v-on:close="showModal = false">
        <!--
          you can use custom content here to overwrite
          default content
        -->
        <h3 slot="header">custom header</h3>
        <statistics :stages="stages" :customers="customers"></statistics>
      </modal>      
    </div>

    <template id="grid-template">
      <div>
        <section class="filters">
          <h2 class="visually-hidden">Фильтр таблицы статистики</h2>
          <form class="form-filter">
            <div class="developers-container">
              <label for="developers-id">Генпроектировщик</label>
              <select class="developers" id="developers-id">
                <option class="developer-item">СамараНИПИнефть</option>
              </select>
            </div>            

            <div class="customers-filter-container">
              <label for="customers-id">Заказчики</label>
              <select class="customers" id="customers-id" multiple>
                <option class="customer-item" value="customer1">Заказчик1</option>
                <option class="customer-item" value="customer2">Заказчик2</option>
                <option class="customer-item" value="customer3">Заказчик3</option>
              </select>             
            </div>

            <div class="plan-years-container">
              <label for="plan-years-id">Плановый год</label>
              <select class="plan-years" id="plan-years-id">
                <option>2020</option>
              </select>
            </div>

            <div class="important-projects-container">
              <input type="checkbox" id="important-projects-id">
              <label for="important-projects-id">Ключевые проекты</label>
            </div>

            <button type="submit" class="btn btn-update">Обновить</button>
          </form>
        </section>
        <section class="statistics" v-bind:style="statisticsGridStyleObject">
          <h2 class="visually-hidden">Таблица статистики по проектам</h2>
          <div class="item stages-header">Этапы</div>        
          <div class="item stages" v-for="stage in stages">{{stage}}</div>        
  
          <template v-for="(customer, customerIndex) in customers">
            <div 
              class="item customer" 
              v-bind:style="customerStyleObject(customerIndex)">
              <a href="#">{{customer.name}}</a>
            </div>
  
            <div class="item parameter">% этапов со срывом</div>
            <div class="item parameter">% этапов с угрозой срыва</div>
            <div class="item parameter">Кол-во этапов</div>
  
            <template v-for="(subStage, stageIndex) in customer.stages">
              <div 
                class="item parameter-warning"
                v-bind:style="stageValueStyleObject(stageIndex, customerIndex, 0)">
                {{subStage.failureCount}}
              </div>
              <div 
                class="item parameter-attention"
                v-bind:style="stageValueStyleObject(stageIndex, customerIndex, 1)">
                {{subStage.dangerCount}}
              </div>
              <div 
                class="item parameter-amount"
                v-bind:style="stageValueStyleObject(stageIndex, customerIndex, 2)">
                {{subStage.stageCount}}
              </div>
            </template>
          </template>        
        </section>
      </div>      
    </template>

    <template id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
    
              <div class="modal-header">
                <slot name="header">
                  default header
                </slot>
              </div>
    
              <div class="modal-body">
                <slot></slot>
              </div>
    
              <div class="modal-footer">
                <slot name="footer">
                  default footer
                  <button class="modal-default-button" v-on:click="$emit('close')">
                    OK
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </template>

    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="js/utils.js"></script>    
    <script src="js/statistics.js"></script>
    <script src="js/modal.js"></script>
  </body>
</html>